.skills-container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.h1-wrapper {
    width: 100%;
    height: 2rem;
}

.content-wrapper {
    display: flex;
}

.skills-container-ul {
   flex-basis: 50%;
    height: 100%;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
}

.skills-container-ul ul li {
    list-style: none;
    padding: 10px 0;
    font-size: 1.8rem;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    width: 100px;
}

.skills-container-ul ul li:hover {
    transform: scale(1.1);
    font-weight: bold;
    cursor: pointer;
}

.skills-container-images {
    flex-basis: 50%;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-container-images img {
    width: 400px;
    height: 400px;
}

.skills-span {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 200;
}

@media screen and (max-width: 550px) {
    .skills-container {
        width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
        ;
        padding: 2rem;
    }
    
    .h1-wrapper {
        width: 100%;
        height: 2rem;
        margin: 1rem 0;
        h1 {
            span {
font-size: 2rem;
            }
        }
        
    }
    
    .content-wrapper {
        display: flex;
    }
    
    .skills-container-ul {
       flex-basis: 50%;
        height: 100%;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    .skills-container-ul ul li {
        list-style: none;
        padding: 10px 0px;
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 200;
        transition: all 0.2s ease-in-out;
        width: 100px;
        border: white solid 1px;
        text-align:center;
    }
    
    .skills-container-ul ul li:hover {
        font-weight: bold;
        cursor: pointer;
    }
    
    .skills-container-images {
        flex-basis: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .skills-container-images img {
        width: 200px;
        height: 200px;
    }
    
    .skills-span {
        margin-top: 20px;
        font-size:1rem;
        font-weight: 300;
    }
}
