.skills-container {
    width: 100vw;
    height: 95vh;
    display: flex;
}

.skills-h1 {
    margin-bottom: -100px;
}

.skills-container-ul {
    width: 49%;
    height: 100%;
    // padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container-ul ul li {
    list-style: none;
    padding: 10px 0;
    font-size: 1.8rem;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    width: 100px;
}

.skills-container-ul ul li:hover {
    transform: scale(1.1);
    font-weight: bold;
    cursor: pointer;
}

.skills-container-images {
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-container-images img {
    width: 400px;
    height: 400px;
}

.skills-span {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 200;
}

@media screen and (max-width: 550px) {
    .skills-container {
        width: 100vw;
        height: 100vh;
        margin-top: 50px;
    }

    .skills-container-ul {
        width:100px;
     padding-left: 150px;
    }

    .skills-container-ul ul li {
        font-size: 0.8rem;
        width: 200px;
    }

    .skills-container-images {
        width: auto;
        height: 100%;
        margin-right: 25px;
    }

    .skills-container-images img {
        width: 150px;
        height: 150px;
    }

    .skills-span {
        margin-top: 20px;
        font-size: 0.8rem;
        font-weight: 200;
    }
    .skills-h1 {
        span {
            font-size: 2rem;
        }
    }
}
