.projects-container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 3rem;
}

.projects-container > h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}



.project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background: rgb(25, 25, 25);
    box-shadow: 0px 0 10px rgba(88, 88, 88, 0.804);
    min-height: 300px;
    cursor: pointer;
    border-radius: 1rem;
}

.project-BG {
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    z-index: 1;
}

.project-card-content {
    z-index: 10;
    padding: 5rem, 0rem;
    position: absolute;
    bottom: 0;
    background: rgba(41, 41, 41, 0.67);
    width: 100%;
    height: 50%;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1rem;
}

.project-card-content:hover {

    opacity: 1;
}

.project-card-container h2 {
    font-size: 1.2rem;
}
.project-card-container h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 15px;
}

.span-container {
    margin-top: 15px;
}

.span-container span {
    font-size: 1rem;
    border: solid white 1px;
    margin: 15px;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.span-container span:hover {
    font-size: 1rem;
    border: solid white 1px;
    background: white;
}

.span-container span a {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

.span-container span a:hover {
    color: black;
}

.project-card-container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}


@media screen and (max-width: 550px) {
    .projects-container {
        height: auto;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
         grid-gap: 2rem;
    }
    .project-card-container {
        width: 300px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        position: relative;
    }
    .project-BG {
        min-height: 200px;
        width: 100%;
    }
    .project-card-container img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
    
        &:hover {
            transform: scale(1.1);
        }
    }
.projects-h1 {
    span {
        font-size: 2rem;
    }
}
}
