.about-container {
    width: 100vw;
    height: 100vh;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.about-h1-p-container {
    width: 49%;
}

.about-h1-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img-container {
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/Uri.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.about-img-container img {
    height: 80%;
    width: 80%;
}

.about-p-container {
    height: auto;
    width: 100%;
    padding: 20px;
}

.about-p-container p {
    padding: 10px;
    // animation: flicker-in-1 3s linear both;
    animation-delay: 1.2s;
    transition: ease 0.4s;
    font-size: 1.4rem;
    text-align: justify;
}
// p:nth-child(1) {
//     animation-delay: 1.2s;
// }
// p:nth-child(2) {
//     animation-delay: 2.2s;
// }
// p:nth-child(3) {
//     animation-delay: 3.2s;
// }
p:hover {
    cursor: pointer;
    // animation: bounceIn 1s 1s;
    // animation: rubberBand 1s;
}
